body {
    background: #385167 url(https://source.unsplash.com/XdOvAFE4_RY/1920x1280) no-repeat;
    background-size: cover;
}

#done {
    display: none;
}
.content {
    padding-top: 10%;
}

.hp-progress {
    height: 36px;
}
/* for screencast only */
.hp-progress, .hp-alert {
    font-size: 1.4rem;
}
